<div class="sidebar">
  <button class="menu-toggle" (click)="toggleMenu()">
    <i class="pi pi-bars"></i>
  </button>
  <div class="navigation_link">
    <a class="link" routerLink="" (click)="this.goHome()">
      <i class="pi pi-arrow-left"></i> Поиск другого пациента
    </a>
  </div>

  <div class="patient_info">
    <h1 class="patient_name">{{ this.patientName }}</h1>
    <p class="patient_description">
      Дата рождения: {{ this.patientCharacteristics?.dateOfBirth }}
    </p>
    <p class="patient_description">
      Рост: {{ this.patientCharacteristics?.height }}
    </p>
    <p class="patient_description">
      Пол: {{ this.patientCharacteristics?.gender }}
    </p>
  </div>

  <div class="action_links" [ngClass]="{ show: showLinks, hide: !showLinks }">
    <a
      routerLink="tests-details/actual"
      class="action_link"
      (click)="this.setActive(1)"
      [ngClass]="this.activity1"
    >
      Анализы пациента
    </a>
    <a
      routerLink="diagnosis"
      class="action_link"
      (click)="this.setActive(2)"
      [ngClass]="this.activity2"
    >
      Предположительные диагнозы
    </a>
    <a
      routerLink="saved-diagnosis"
      class="action_link"
      (click)="this.setActive(3)"
      [ngClass]="this.activity3"
    >
      Сохраненные диагнозы
    </a>
  </div>
</div>
