.table {
  width: 100%;
  font-size: 18px;
  border: none;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table thead {
  box-shadow: #f1edfa 0px -50px 0px 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.table th {
  background: #f1edfa;
  font-weight: bold;
  padding: 20px 30px;
  border: none;
  border-bottom: 3px solid #7f6abe;
}
.table td {
  text-align: center;
  font-size: 18px;
  color: rgb(53, 53, 53);
  padding: 20px 30px;
  border: none;
  background: white;
  position: relative;
  vertical-align: middle;
}

tbody tr {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 10px 0px;
}

.table tr {
  border-radius: 20px;
}

.table tr:first-child td:first-child {
  border-top-left-radius: 20px;
}

.table tr:first-child td:last-child {
  border-top-right-radius: 20px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.table tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.table tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.result_btn {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #605092;
  cursor: pointer;
}
.table th:nth-child(1),
.table td:nth-child(1) {
  padding: 0 20px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: left;
}

.checkbox-input {
  appearance: none;
  width: 28px;
  height: 28px;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #7f6abe;
  position: relative;
}
.checkbox-input:checked {
  background: #7f6abe;
}
.checkbox-input:checked::after {
  content: "\2714";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
