@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", Sans-Serif;
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
}

.main-content {
  background: #f1edfa;
  flex-grow: 1;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.table_group {
  position: relative;
  width: 100%;
  padding: 0 20px;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #7f6abe transparent;
}

.table_group::-webkit-scrollbar-thumb:hover {
  background: #5e4a9f;
}

app-sidebar-info {
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 10px 0px;
}
.green_difference {
  color: rgb(0, 156, 21);
}

.red_difference {
  color: rgb(197, 0, 59);
}
:link {
  color: #000;
  text-decoration: none;
}

:visited {
  color: #000;
}
