<div class="dialog_overlay">
  <div class="dialog_content">
    <h2 class="dialog_name">
      {{ data?.analysisData.name }} ({{ data?.analysisData.date }})
    </h2>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Показатель</th>
            <th>Результат</th>
            <th>Рефересное значение</th>
            <th>Комментарий</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data?.analysisData.result">
            <td>{{ item.parameter }}</td>
            <td>{{ item.value }}</td>
            <td>{{ item.lower_limit }} - {{ item.upper_limit }}</td>
            <td>
              <span *ngIf="item.value > item.upper_limit">Повышен</span>
              <span
                *ngIf="
                  item.value < item.upper_limit && item.value > item.lower_limit
                "
                >Нормально</span
              >
              <span *ngIf="item.parameter < item.lower_limit">Повышен</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn_close" (click)="closeDialog()">
      <i class="pi pi-times"></i>
    </button>
  </div>
</div>
