<div class="dialog_overlay">
  <div class="dialog_content">
    <h2 class="dialog_name">
      {{ data?.analysisData?.name || data?.diagnosisData?.name }}
      ({{
        data?.analysisData?.date || (data?.diagnosisData?.date ?? "Неизвестно")
      }})
    </h2>
    <div>
      <table class="table" *ngIf="data">
        <thead>
          <tr>
            <th>Показатель</th>
            <th *ngIf="data?.analysisData">Ед. измерения</th>
            <th *ngIf="data?.analysisData">Результат</th>
            <th *ngIf="data?.analysisData">Рефересное значение</th>
            <th>Отклонение</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of data?.analysisData?.result ||
                data?.diagnosisData?.result
            "
          >
            <td>{{ item.parameter }}</td>
            <td *ngIf="data?.analysisData">{{ item.unit }}</td>
            <td *ngIf="data?.analysisData">{{ item.value }}</td>
            <td *ngIf="data?.analysisData">
              {{ item.lower_limit }} - {{ item.upper_limit }}
            </td>
            <td>
              <span *ngIf="data?.analysisData">{{ item.difference }}</span>
              <span *ngIf="data?.diagnosisData">{{ item.difference }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn_close" (click)="closeDialog()">
      <i class="pi pi-times"></i>
    </button>
  </div>
</div>
