.dialog_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dialog_content {
  position: relative;
  background: white;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 80vh;
}

.dialog_name {
  color: #605092;
  margin-bottom: 30px;
}

.btn_close {
  position: absolute;
  line-height: 0;
  font-size: 25px;
  color: #605092;
  background: transparent;
  border: none;
  top: 35px;
  right: 35px;
  cursor: pointer;
}
.dialog_table {
  height: 100%;
  overflow-y: auto;
  padding: 0 20px;
  scrollbar-width: thin;
  scrollbar-color: #7f6abe transparent;
}

.dialog_table::-webkit-scrollbar-thumb:hover {
  background: #5e4a9f;
}
.table {
  width: 100%;
  font-size: 18px;
  border: none;
  border-collapse: separate;
  border-spacing: 0 10px;
  text-align: center;
}
.table thead {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.table th {
  font-weight: bold;
  padding: 20px 0;
  border: none;
  border-bottom: 3px solid #7f6abe;
}

.table td {
  font-size: 18px;
  padding: 20px 0;
  border: none;
  background: rgb(230, 219, 252);
  position: relative;
}

.table tr {
  border-radius: 20px;
  overflow: hidden;
}

.table tr:first-child td:first-child {
  border-top-left-radius: 20px;
}

.table tr:first-child td:last-child {
  border-top-right-radius: 20px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.table tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.table tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.table th:nth-child(1),
.table td:nth-child(1) {
  overflow-wrap: break-word;
  padding: 0 50px;
  text-align: left;
}
